<!-- <div class="col-md-6 col-md-offset-2">
    <h3>Sing Up</h3>
    <br/>
    

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit1()">

      <div class="form-group">
        <label for="email">First Name: </label>
        <input type="email" class="form-control" formControlName="firstname" 
        id="fName" />
        <div *ngIf="submitted && signupForm.controls.firstName.errors" class="error">
          <div class="text-danger" *ngIf="signupForm.controls.firstName.errors.required">
            FirstName is required ..
          </div>
        </div>


        <label for="lastName">Last Name:  </label>
        <input type="text" class="form-control" formControlName="lastname" 
        id="lName"/>
        <div *ngIf="submitted && signupForm.controls.lastName.errors" class="error">
          <div class="text-danger" *ngIf="signupForm.controls.lastName.errors.required">
            LastName is required ..
          </div>
        </div>


        <label for="email">Email:  </label>
        <input type="email" class="form-control" formControlName="email" 
        id="txtEmail"/>
        <div *ngIf="submitted && signupForm.controls.email.errors" class="error">
          <div class="text-danger" *ngIf="signupForm.controls.email.errors.required">
            Email is required ..
          </div>
        </div>

        <label for="email">Password:  </label>
        <input type="password" class="form-control" formControlName="password" 
        id="txtEmail"/>
        <div *ngIf="submitted && signupForm.controls.password.errors" class="error">
          <div class="text-danger" *ngIf="signupForm.controls.password.errors.required">
            password is required ..
          </div>
        </div>
      </div>
    


   


  
      <button class="btn btn-success">Sign Up</button> &nbsp;

      <button class="btn btn-danger" type="reset">Cancel</button>&nbsp;

      <a class="btn btn-warning" [routerLink]="['/list-user']">
        BackToList</a> <br /><br />

      <div *ngIf="invalidLogin" class="error">
        <div class="text-danger">
          Invalid credentials ..
        </div>
      </div>

    </form>

  </div> -->
  <br/>
  <br/>
  <div class="row">
  <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        
      <div class="col-xs-12 col-sm-8 col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><small></small></h3>
           </div>
           <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              
              <input type="submit" value="Register" class="btn btn-info btn-block">
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>