<br />
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h3 align="center">Notifications</h3>
          <p class="Lead text-muted" align="center">
            You have New Notifications
          </p>
        </div>
        <div class="card-body">
          <small class="form-text text-muted"
            >Improve your notifications by connecting to friends and
            organizations</small
          >
        </div>
      </div>
      <br />
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <font size="2" class="h9 text-muted">Recent</font><br />
        </div>
        <div class="card-body">
          <a href="#">
            <img
              class="ronded"
              src="../../assets/userfemaleicon.png"
              align="center"
              width="75px"
              height="75px"
            />
          </a>
          <font size="3" class="h9">
            <a href="#"> Yamini Sharma</a> Viewed Your Profile</font
          >
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">
          <font size="2" class="h9 text-muted">Earlier</font><br />
        </div>
        <div class="card-body">
          <a href="#">
            <img
              class="ronded"
              src="../../assets/cgicon.png"
              align="center"
              width="75px"
              height="75px"
            />
          </a>
          <font size="3" class="h9">
            <a href="#">Capgemini</a> Accepted your job approval</font
          >
        </div>
        <hr />
        <div class="card-body">
          <a href="#">
            <img
              class="ronded"
              src="../../assets/usericon.png"
              align="center"
              width="75px"
              height="75px"
            />
          </a>
          <font size="3" class="h9">
            <a href="#">Rohith </a> Sent to you a Request</font
          >
        </div>
        <hr />
        <div class="card-body">
          <a href="#">
            <img
              class="rounded-image"
              src="../../assets/cgicon.png"
              align="center"
              width="75px"
              height="75px"
            />
          </a>
          <font size="3" class="h9">
            You applied for <a href="#">Capgemini</a>
          </font>
        </div>
      </div>
      <br />
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br />
</div>
